* {
    font-family: 'Lucida Sans', 'sans-serif';
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    height: 1000px;
    z-index: -1;
    opacity: 1.5;
    width: 100%;
    top: 0px;
    position: absolute;
    background: url('/static/gym-526995_1920.jpg') no-repeat center center;
}

nav {
    /* background-color: ; */
    padding: 18px 26px;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 3px 17px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: black;
}

.container {
    margin: 67px auto;
    max-width: 70%;
}

input,
textarea {
    display: block;
    padding: 3px;
    margin: 15px auto;
    width: 60%;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
}

.btn {
    margin: 4px auto;
    display: block;
    padding: 5px 12px;
    background: grey;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}